.search

  %h1 Teach Yo Self

  %input#search-bar{type: 'text', placeholder: "Learn something!"}
  %input#search-button{type: 'submit'}

#videos-solo
  %h2 Single Videos

%br
%br

#videos-multi
  %h2 Multi-Part Videos

%br
%br

#videos-playlist
  %h2 Playlists
