%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}

  .search

    %h1#title Teach Yo Self

    %input#search-button.navbar-right{type: 'submit', value: "Learn something!"}
    %input#search-bar.navbar-right{type: 'text', placeholder: "I want to learn about..."}

#videos-solo
  %h2 Single Videos
  %ul.container.Aligner

%br

#videos-multi
  %h2 Multi-Part Videos
  %ul.container

%br

#videos-playlist
  %h2 Playlists
  %ul.container


.modal.fade#mediaModal{tabindex: "-1", role: "dialog", 'aria-hidden' => "true"}
  .modal-dialog
    .modal-content
      .modal-body
        // Modal vid goes here
