.search

  %h1 Teach Yo Self

  %input#search-bar{type: 'text', placeholder: "Learn something!"}
  %input#search-button{type: 'submit'}

#videos-solo
  %h2 Single Videos
  %ul

%br
%br

#videos-multi
  %h2 Multi-Part Videos
  %ul

%br
%br

#videos-playlist
  %h2 Playlists
  %ul


.modal.fade#mediaModal{tabindex: "-1", role: "dialog", 'aria-hidden' => "true"}
  .modal-dialog
    .modal-content
      .modal-body
        // Modal vid goes here
