/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  font-family: 'Lato';
  background-color: rgba(147,128,108,.1);
  padding-top: 100px;
  padding-left: 30px;
}

.navbar-fixed-top {
  padding: 28px;
  clear: both;
}

.search {
  /*text-align: center;*/
}

h1 {
  font-size: 48px;
  display: inline;
}

#search-bar {
  font-size: 24px;
  width: 280px;
  margin-right: 20px;
  padding-left: 10px;
}

#search-button {
  font-size: 18px;
  padding: 6px 12px 6px 12px;
  border: 0px;
  border-radius: 2px;
  color: white;
  background-color: #1abc9c;
  cursor: pointer;
}

#search-button:hover {
  background-color: #16a085;
}

.videoLink {
  font-size: 24px;
  text-decoration: none;
}

.videoDiv {
  border: 0px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  width: 25%;
  height: 250px;
  text-align: center;
  clear: none;
  display: inline-block;
  background-color: #3498db;
  color: white;
  position: relative;
}

.videoDiv:hover {
  background-color: #2980b9;
  color: white;
}

li {
  display: inline;
  margin-top: 0px;
}


img {
  max-width: 250px;
  margin-bottom: 5px;
}